#R Project Related Files
.Rproj.user
tweetsfrombillgates.Rproj

#R History File
.Rhistory

#Generated HTML file
billgatestwitterdata.html

#OAuth Related Files
cacert.pem
twitter_authentication.Rdata
